---
layout: layout.njk
title:
quoteText: A writer only begins a book. A reader finishes it.
quoteSource: Samuel Johnson
quoteColWidth: 12
---

{% set booksArr = [] %}
{% for k, book in books %}
  {% if book.isFeatured %}
    {% set booksArr = (booksArr.push(book), booksArr) %}
  {% endif %}
{% endfor %}

<div id="home-feature" class="flush-with-header">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-8 col-sm-8 col-md-9 col-lg-4 col-xl-4 text-end">
        <h2>Newest Releases</h2>
      </div>
      <div class="col-12 col-lg-5">
        <div id="home-feature-books">
          {% for book in booksArr | sort(false, false, "publishDate") | reverse %}
            <a href="{{ '/books/' | url }}{{ book.title | slugify | url }}">
              <img
              src="{{ book.coverImageUrl | url }}"
              class="img-fluid shadow"
              alt="{{ book.title }}"/>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="fs-1">News</h2>

  {% set newsArr = [] %}
  {% for k, item in news %}
    {% set newsArr = (newsArr.push(item), newsArr) %}
  {% endfor %}

  {% for item in newsArr.slice(0, 3) | sort(false, false, "publishDate") | reverse %}
    <h3 class="mb-0">
      <a href="{{ '/news/' | url }}{{ item.publishDate + '-' + item.title | slugify | url }}">{{item.title}}</a>
    </h3>
    <h4 class="fs-3">
      <small class="text-body-secondary">{{item.publishDate | date('MMM D, YYYY')}} | </small>
      {{item.subtitle}}
    </h4>
  {% endfor %}

  <a href="/news">See More&hellip;</a>

  {% include "quote.njk" %}
  <small class="text-body-tertiary">Photo Artistry by Melinda Lamm</small>
</div>