---
layout: layout.njk
title: Media
---

<div class="container">
  <h1>Listen</h1>

  <div class='row row-cols-1 row-cols-lg-2 g-4'>
    {% for singleLink in media.listenSingle %}
      <div class='col'>
        <a href='{{singleLink.url}}' target='_blank' class='card app-custom-card'>
          <div class="row g-0">
            <div class="col-3 col-md-2 col-lg-3">
              <img src="{{ singleLink.imageUrl | url }}" class="img-fluid rounded-start">
            </div>
            <div class="col-9 col-md-10 col-lg-9">
              <div class="card-body pb-0">
                <h4 class="card-title">{{singleLink.title}}</h4>
                <p class='card-text'>{{singleLink.episodeTitle}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

    {% for multi in media.listenMulti %}
      <div class='col'>
        <div class='card app-custom-card'>
          <div class="row g-0">
            <div class="col-3 col-md-2 col-lg-3">
              <img src="{{ multi.imageUrl | url }}" class="img-fluid rounded rounded-bottom-0 rounded-end-0">
            </div>
            <div class="col-9 col-md-10 col-lg-9">
              <div class="card-body pb-0">
                <h4 class="card-title">{{multi.title}}</h4>
                <p class='card-text'>
                  <small>{{multi.source}}</small>
                </p>
              </div>
            </div>
          </div>
          <div class="list-group list-group-flush">
            {% for link in multi.links %}
              <a href='{{link.url}}' target='_blank' class="list-group-item list-group-item-action">{{link.title}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <hr class="mt-4 mb-1"/>
  <h1>Read</h1>

  <div class='row'>
    {% for readSection in media.read %}
      <div class='col {{readSection.columnClasses}}'>
        <div class='card app-custom-card'>
          <h4 class="card-header">{{readSection.title}}</h4>
          <div class="list-group list-group-flush">
            {% for link in readSection.links %}
              <a href='{{link.url}}' target='_blank' class="list-group-item list-group-item-action">
                <strong>{{link.title}}</strong>
                <br>
                <small>{{link.source}}</small>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>